# Установка Python зависимостей для Elastic Beanstalk

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"
    leader_only: false

  02_migrate_database:
    command: "python -c 'from app.db import init_db_with_seed; init_db_with_seed()'"
    leader_only: true



